.tab_col{
    margin-left: 90px;
}
.tab_ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    color: #5484ed;
}
.tab_li{
    margin-right: 20px;
}
.tub_row{
    margin-top: 20px !important;
}
.tab_but{
    border-radius: 100px !important;
    width: 150px;
}
.tab_h1{
    color: #556a97;
}
.tub_row_1{
    margin-top: 50px !important;
}
.tab_img{
    width: 400px;
}
.tab_col_3{
    margin-left: 90px;
}
.tab_col_4{
    padding-top: -50px;
}
.tub_p{
    color: #3f547e; 
}
.tab_but_1{
    width: 270px;
    height: 60px;
}
.tub_row_2{
    padding-top: 35px;
    margin-top: 100px !important;
}
.tab_h2{
    color: #556a97;
}
.tub_row_3{
    padding-top: 35px ;
}
.blokc{
    background-color:#F6F6F6;
    padding-left: 75px;
}
.tab_img_1{
    width: 260px ;
    height: 200px;
}
.tab_img_2{
    width: 260px;
    height: 200px;
}
.tab_but_2{
    margin-left: 20px;
}
.tab_but_3{
    margin-left: 20px;
    border-radius: 100px !important;
}
.tab_but_4{
    margin-left: 10px;
    border-radius: 100px !important;
}
.tub_row_4{
    padding-top: 70px;
}
.tab_img_3{
    width: 930px;
    padding-top: 75px;
}
.tab_h2_1{
    color: #556a97;
}
.tub_p_1{
    color: #3f547e;
}
.tab_h2_2{
    color: #556a97;
}
.tab_col_6{
    padding-top: 75px;
}
.tub_p_2{
    color:#3f547e ;
}
.tub_row_5{
    padding-top: 20px;
}
.tab_col_7{
    border: 2px solid #051eff;
    width: 100%;
    height: 150px;
    background-color: #051eff;
    color: aliceblue;
}
.tub_row_6{
    padding-top: 90px;
}
.tab_h2_3{
    margin-top: 50px;
    margin-left: 35px;
}
.tub_p_3{
    margin-left: 85px;
}
.tab_row_6{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}
.tab_col_8{
    margin-left: 900px;
    margin-top: -78px !important;
}
.tab_but_5{
    border-radius: 20% ;
    box-shadow: rgb(7, 6, 8) !important;
}
.tub_row_7{
    padding-top: 50px;
}
.tab_border{
    border: 2px solid #5f77a7;
    width: 350px !important;
    height: 300px;
    border-radius: 10px;
    margin-right: 40px;
}
.tab_border_1{
    border: 2px solid #5f77a7;
    width: 350px !important;
    height: 300px;
    border-radius: 10px;
    margin-right: 40px;
}.tab_border_2{
    border: 2px solid #5f77a7;
    width: 330px !important;
    height: 300px;
    border-radius: 10px;
}
.tab_h2_4{
    color: #556a97;
}
.tab_h2_5{
    color: #556a97;
    margin-top:-20px ;
}
.tub_p_4{
    color: #3f547e;
}
.tab_img_4{
    padding-top: 16px;
}
.tub_p_5{
    margin-left: 20px;
    margin-top: -50px;
}
.tub_p_6{
    margin-top: -17px !important;
}
.tab_sm{
    padding-bottom: 20p !important;
    margin-left: 150px;
}
.tub_p_7{
    margin-top: 20px;
    color: #455880;
}
.tab_col_10{
    margin-left: 100px;
}
.tab_h4{
    color: #1E266D;
}
.tub_p_8{
    margin-top: 10px;
    color: #455880;
}
.tab_ul_1{
    color: #455880;
    list-style-type: none;
}
.tub_row_8{
    padding-top: 55px;
}
.tub_p_9{
    margin-top: 10px;
    color:#455880;
    margin-left: 300px;
}